<p id="notice"><%= notice %></p>

<p>
  <strong>Duration:</strong>
  <%= @sleep.duration %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @sleep.quality %>
</p>

<p>
  <strong>Times awake:</strong>
  <%= @sleep.times_awake %>
</p>

<p>
  <strong>User:</strong>
  <%= @sleep.user %>
</p>

<%= link_to 'Edit', edit_sleep_path(@sleep) %> |
<%= link_to 'Back', sleeps_path %>
