<%= form_with(model: exercise, local: true) do |form| %>
  <% if exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :exercise_type %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration, id: :exercise_duration %>
  </div>

  <div class="field">
    <%= form.label :intensity %>
    <%= form.number_field :intensity, id: :exercise_intensity %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :exercise_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
